html,
body {
    overflow-x: hidden;
}

header {
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    height: 100px;
    width: 100%
}

.maintext {
    text-shadow: 0 0 4px black, 0 0 10px black;
    color: white;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    font-size: 40pt
}

.headbtn {
    color: white;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    font-size: 10pt;
    width: max-content;
}

main{
    width: 100%;
    min-height: calc(100vh - 150px);
}

.gallery-group{
    width: 100%;
    background-color: rgb(241, 241, 241);
}
.gallery-group button{

    margin: 10px;
    background-color: darkgray;
    transition: all 0.3s;
    padding:8px 20px;
    border: 1px solid gray;
    color:white;
    text-shadow: 0 0 5px black;
}