


<footer id="botcontainer">

    <div class="btn btn-dark" id="footer" style="width:100%; text-align:right; cursor:unset;font-size:10pt;">
        <!--
    <span id="obrabotka" style="display:none; font-size:8pt;padding: 5px; cursor:pointer;">  
        
        <span id="b_array" title="обработка Array" onclick="obrabotka(false)">[array]</span>
        <span id="b_sql"  title="обработка SQL+Array" onclick="obrabotka(true)">[sql]</span>
     
        
    </span>
   -->
        

        %[asuser] 2023 introzorn &copy
    </div>
</footer>


</body>

</html>