<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
     <script src="%[BASE_URL]js/script.js"></script>
    <link rel="stylesheet" href="%[BASE_URL]css/style.css">
    <link rel="stylesheet" href="%[BASE_URL]css/mystyle.css">
    <title>i2me Gallery</title>
    <script>
    window.baseURL='%[BASE_URL]';
    window.defaultGallery='%[def_gallery]';
    </script>
</head>

<body>
    <div id="topcontainer" style="display:block">
        <header class="header">
            <canvas id="animhead" sh="0" width="1198" height="100"></canvas>
            <div class="maintext">i2me Gallery</div>
            <div class="headbtn">
 


            </div>
        </header>
       
    </script>
    <script src="%[BASE_URL]js/animhead.js"></script>

