
%include['head']

<!--  Основное тело -->

<main>
  <div class="gallery-group">
%[gallaries]
  </div>
<section class="gallery" style="display: none;">
  <button class="gallery-btn gallery-btn-left"></button>
  <div class="gallery-container">
  
    <div class="gallery-slider">

      <!-- <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG" data-src="/img/gallery/nspace/space3_28.JPG" onclick="galleryShow(this)"> -->
    </div>
   
  </div>
  <button class="gallery-btn gallery-btn-right"></button>
  
</section>



</main>

<!--  Основное тело -->

%include['footer']