
%include['head']

<!--  Основное тело -->

<main>
  <div class="gallery-group">
%[gallaries]
  </div>
<section class="gallery">
  <button class="gallery-btn gallery-btn-left"></button>
  <div class="gallery-container">
  
    <div class="gallery-slider">

      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">
      <img class="gallery-thumb" alt="" src="/img/gallery/nspace/space3_28.JPG">

    </div>
   
  </div>
  <button class="gallery-btn gallery-btn-right"></button>
  
</section>



</main>

<!--  Основное тело -->

%include['footer']